{% extends "simple.html" %}
{% block content %}

<script>
function copytoken(tokenid) {
  /* Get the text field */
  var copyText = document.getElementById(tokenid);

  /* Select the text field */
  copyText.select();

  /* Copy the text inside the text field */
  document.execCommand("copy");

  /* Alert the copied text */
  /* alert("Copied the text: " + copyText.value); */
} 
</script>

     <div class="content-middle">

        <p>Click <b>Activate</b> to get a token for a login server.<br>
           After activating, you can open a connection by entering the displayed ssh command in a terminal window. You'll need a token to login. Click <b>Copy Token</b> to copy the token to the clipboard.</p>

        <table border=0>
          {{tokenrows |safe}}
        </table>

        <p class="note">Click <b>Logout</b> to prevent further use of these tokens.
                        When you click <b>Logout</b>, any current ssh sessions will remain open, but 
                        new ssh connections using these tokens will be refused.<br><br>
                        Tokens will remain active for two days unless you click <b>Logout</b>, even if you close 
                        this browser window.</p>

     </div>
{% endblock %}
