{% extends "simple.html" %}
{% block content %}

<script>
function copytoken(tokenid) {
  /* Get the text field */
  var copyText = document.getElementById(tokenid);

  /* Select the text field */
  copyText.select();

  /* Copy the text inside the text field */
  document.execCommand("copy");

  /* Alert the copied text */
  /* alert("Copied the text: " + copyText.value); */
} 
</script>

     <div class="content-middle">
        <div id="navbar">
             <p><a class="inactive" href="{{ url_for('listservers') }}">Server List</a>
                <a class="active" href="{{ url_for('index') }}">Active Servers</a></p>
        </div>

        {% if (tokenrows=='') %}

        <p>You have no active servers. Activate a server using the server list.</p>

        {% else %}

        <p>You've activated the following login servers.</p>

        <table border=0>
          {{tokenrows |safe}}
        </table>

        <p>Click the Copy Token button next to the login server you're connecting to.<br>
           This copies your access token to the clipboard so you can paste it into your ssh client when prompted.</p>

        {% endif %}

     </div>
{% endblock %}
